[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.8"
websockets = "*"
scrapy = "*"
spiderkeeper = "*"
scrapyd = "*"
scrapyd-client = "*"
scrapy-djangoitem = "*"
mysqlclient = "==1.4.4"
arrow = "*"
aiohttp = "*"

[requires]
python_version = "3.7"
