{% extends "index.html" %}


{% block content %}

    <section class="section is-family-monospace" id="analyze">

        <div class="content is-medium has-text-justified">

            <h1 class="is" id="TL;DR">TL;DR<a class="anchor-link" href="#TL;DR">¶</a></h1>
            <p>The distribution of the <code>value</code> of the trades is very concentrated, so is the distribution of
                the
                <code>quantity</code> of them.</p>
            <p>That is to say, the distribution of the dataset is some what inspiring.</p>
            <hr>

            <h1 id="Target">Target<a class="anchor-link" href="#Target">¶</a></h1>
            <p>Investigate the factors of these Alert Rules:</p>
            <ol>
                <li>[AT01] Large-quantity order detected</li>
                <li>[AT02] Large-value order detected</li>
                <li>[AT24] Large-quantity trade detected</li>
                <li>[AT25] Large-value trade detected</li>
            </ol>

            <h1 id="Definitions">Definitions<a class="anchor-link" href="#Definitions">¶</a></h1>
            <h3 id="dataset">dataset<a class="anchor-link" href="#dataset">¶</a></h3>
            <p><code>Tick</code></p>
            <p><code>Order</code></p>

            <p>As a common practise, the <code>Tick dataset</code> is public available, while the <code>Order
                dataset</code>
                is not.</p>
            <p>(AFAIK, only one exchange, <code>KuCoin</code>, provides the <code>Order dataset</code> by exposing the
                <strong>match engine</strong> data through websocket)</p>
            <hr>
            <p>For the rules related to <code>trade</code>(AT24, AT25), we can reference from the <code>Tick
                dataset</code>.
            </p>
            <p>For the rules related to <code>order</code>(AT01, AT02), since we have no <code>Order dataset</code>, we
                can
                only infer from <code>Tick dataset</code></p>

            <h1 id="Variables-(Input)">Variables (Input)<a class="anchor-link" href="#Variables-(Input)">¶</a></h1>
            <ol>
                <li>Exchange</li>
                <li>Symbol</li>
            </ol>
            <h1 id="Output">Output<a class="anchor-link" href="#Output">¶</a></h1>
            <ol>
                <li>The description of the dataframe</li>
                <li>A chart for visualize</li>
            </ol>

        </div>


    </section>

{% endblock %}
