{% extends "index.html" %}

{% block content %}
    <section class="section is-family-monospace has-text-centered">
        <div class="container">
            {% for tag in tags %}
                <div class="content is-medium is-family-monospace">
                    <a href="{% url "tag-detail" tag.pk %}">
                        <span class="title is-1 has-text-centered"># {{ tag.name }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
